
# ML Capstone Project
***
## Team: Big Heros 5
### Team Members: 
     Amjad Alshehri (Leader)
     Nawal Almutairi
     Aisha Alsuodi
     Suliman Busaleh
     Manar Alwsaidi

# Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df= pd.read_excel("encoded-en.(update).xlsx")

In [3]:
df.head()

,title,space,normal_price,views_count,lat,lng,booking_count,address,elevator,internet,...,view,playground,tent,pool,bbq_corner,kitchen_equipments,guests,bed,Unnamed: 34,Unnamed: 35
0,Chalet,250,890,165160,24.920518,46.807296,6,Ar Rimal,No,No,...,No,No,No,Yes,No,No,singles_and_families,master_bed,NaN,NaN
1,Chalet,250,890,166069,24.920518,46.807296,7,Ar Rimal,No,No,...,No,No,No,Yes,No,No,singles_and_families,master_bed,NaN,400320.0
2,Chalet,250,1200,167359,24.920518,46.807296,8,Ar Rimal,No,No,...,No,No,No,Yes,No,No,singles_and_families,master_bed,NaN,NaN
3,Chalet,250,1400,168279,24.920518,46.807296,10,Ar Rimal,No,No,...,No,No,No,Yes,No,No,singles_and_families,master_bed,NaN,NaN
4,Chalet,250,960,168406,24.920518,46.807296,10,Ar Rimal,No,No,...,No,No,No,Yes,No,No,singles_and_families,master_bed,NaN,NaN

In [4]:
# Chalet
chalet_statics = df.loc[(df.title == 'Chalet')]
chalet_statics['normal_price'].describe()

count    30703.000000
mean      1108.243168
std        820.245509
min        200.000000
25%        700.000000
50%        900.000000
75%       1300.000000
max      15000.000000
Name: normal_price, dtype: float64

In [5]:
# Apartment
apartment_statics = df.loc[(df.title == 'Apartment')]
apartment_statics['normal_price'].describe()

count     20215.000000
mean        830.493594
std        2867.272750
min         149.000000
25%         400.000000
50%         600.000000
75%        1000.000000
max      400320.000000
Name: normal_price, dtype: float64

In [6]:
# Camp
camp_statics = df.loc[(df.title == 'Camp')]
camp_statics['normal_price'].describe()

count      5847.000000
mean       1744.479049
std        5456.565006
min         250.000000
25%         700.000000
50%         900.000000
75%        1450.000000
max      100000.000000
Name: normal_price, dtype: float64

In [7]:
# Farm
farm_statics = df.loc[(df.title == 'Farm')]
farm_statics['normal_price'].describe()

count      531.000000
mean      2651.749529
std       1952.653046
min        500.000000
25%       1500.000000
50%       2000.000000
75%       2550.000000
max      10000.000000
Name: normal_price, dtype: float64

In [8]:
# Istraha
istraha_statics = df.loc[(df.title == 'Istraha')]
istraha_statics['normal_price'].describe()

count     4489.000000
mean      2138.707507
std       2723.829370
min        200.000000
25%        800.000000
50%       1250.000000
75%       2250.000000
max      22000.000000
Name: normal_price, dtype: float64

In [9]:
# Resort
resort_statics = df.loc[(df.title == 'Resort')]
resort_statics['normal_price'].describe()

count     1219.000000
mean      3260.196883
std       4811.293881
min        499.000000
25%       1100.000000
50%       1500.000000
75%       2250.000000
max      23000.000000
Name: normal_price, dtype: float64

In [10]:
# Room
room_statics = df.loc[(df.title == 'Room')]
room_statics['normal_price'].describe()

count    3019.000000
mean      490.221265
std       523.471976
min        76.000000
25%       259.000000
50%       350.000000
75%       550.000000
max      5000.000000
Name: normal_price, dtype: float64

In [11]:
# Villa
villa_statics = df.loc[(df.title == 'Villa')]
villa_statics['normal_price'].describe()

count     922.000000
mean     1976.281996
std       573.200200
min       500.000000
25%      1666.000000
50%      2000.000000
75%      2200.000000
max      4800.000000
Name: normal_price, dtype: float64