
# ML Capstone Project
***
## Team: Big Heros 5
### Team Members: 
     Amjad Alshehri (Leader)
     Nawal Almutairi
     Aisha Alsuodi
     Suliman Busaleh
     Manar Alwsaidi

# Preprocessing

_______________________________________________________________________________________________________
## Steps:
# 
#### 1. Clean the dataset by dropping unwanted columns and deleting rows with meaningless values (None, Id, -)
#### 
#### 2. Creating a list to group all the features in the dataset with no duplicate, so we can encode them
#### 
#### 3. Encode all the unique features
#### 
#### 4. Save the preprocessed dataset to translate and map the data with Excel, and then using it for the EDA

_______________________________________________________________________________________________________

#### 1. Clean the dataset

In [1]:
# Import libraries

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
# Read the dataset
df = pd.read_excel('Gethern August 2022 (AA).xlsx')

In [3]:
df.head()

,id,selected_check_in,month_check_in,selected_check_out,chalet_id,title,unit_custom_title,chalet_title,code,isPublished,...,services_amount,final_price_services,views_count,lat,lng,views_count_k,booking_count,address,Unnamed: 39,distance_in_km
0,13,2022-08-01,8,2022-08-02,12,كود الوحدة (100),شاليه دورين بمسبح بحاجز,شالية,100,1,...,0,890,165160,24.920518,46.807296,165 K,6,الرمال,NaN,None
1,13,2022-08-03,8,2022-08-04,12,كود الوحدة (100),شاليه دورين بمسبح بحاجز,شالية,100,1,...,0,890,166069,24.920518,46.807296,166 K,7,الرمال,NaN,None
2,13,2022-08-04,8,2022-08-05,12,كود الوحدة (100),شاليه دورين بمسبح بحاجز,شالية,100,1,...,0,1090,167359,24.920518,46.807296,167 K,8,الرمال,NaN,None
3,13,2022-08-05,8,2022-08-06,12,كود الوحدة (100),شاليه دورين بمسبح بحاجز,شالية,100,1,...,0,1200,168279,24.920518,46.807296,168 K,10,الرمال,NaN,None
4,13,2022-08-06,8,2022-08-07,12,كود الوحدة (100),شاليه دورين بمسبح بحاجز,شالية,100,1,...,0,960,168406,24.920518,46.807296,168 K,10,الرمال,NaN,None

In [4]:
# Names of the columns
df.columns

Index(['id', 'selected_check_in', 'month_check_in', 'selected_check_out',
       'chalet_id', 'title', 'unit_custom_title', 'chalet_title', 'code',
       'isPublished', 'features', 'space', 'isUnitAvailable', 'normal_price',
       'cancel_price', 'final_price', 'avg_price', 'nights',
       'has_cancel_price', 'has_vacations', 'has_holidayes', 'has_offers',
       'price_before_discount', 'day_price_format', 'day_flag', 'price',
       'hasOffer', 'oldPrice', 'end_offer_date', 'services', 'is_services',
       'services_amount', 'final_price_services', 'views_count', 'lat', 'lng',
       'views_count_k', 'booking_count', 'address', 'Unnamed: 39',
       'distance_in_km'],
      dtype='object')

In [5]:
# Drop unwanted columns
df = df.drop(df.iloc[:,[0,1,3,4,5,6,8,9,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,36,39,40]], axis = 1)

In [6]:
# After droping the unwanted columns
df.head()

,month_check_in,chalet_title,features,space,normal_price,views_count,lat,lng,booking_count,address
0,8,شالية,"مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...",250,890,165160,24.920518,46.807296,6,الرمال
1,8,شالية,"مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...",250,890,166069,24.920518,46.807296,7,الرمال
2,8,شالية,"مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...",250,1200,167359,24.920518,46.807296,8,الرمال
3,8,شالية,"مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...",250,1400,168279,24.920518,46.807296,10,الرمال
4,8,شالية,"مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...",250,960,168406,24.920518,46.807296,10,الرمال

In [7]:
# Delete rowns with unwanted values

df.drop(df.loc[df['chalet_title'] == 'None'].index, inplace=True)
df.drop(df.loc[df['chalet_title'] == 'id'].index, inplace=True)
df.drop(df.loc[df['space'] == 0].index, inplace=True)
df.drop(df.loc[df['address'] == '-'].index, inplace=True)

In [8]:
# Check

df.loc[df['chalet_title'] == 'None']
df.loc[df['chalet_title'] == 'id']
df.loc[df['space'] == 0]
df.loc[df['address'] == '-']

Empty DataFrame
Columns: [month_check_in, chalet_title, features, space, normal_price, views_count, lat, lng, booking_count, address]
Index: []

In [10]:
# features column is messy ---> needs cleaning
df['features']

0        مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...
1        مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...
2        مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...
3        مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...
4        مساحة الوحدة 250 م2, عوائل و عزاب, 1 غرف نوم, ...
                               ...
91077    مساحة الوحدة 38 م2, عوائل و عزاب, 1 غرف نوم, 1...
91078    مساحة الوحدة 38 م2, عوائل و عزاب, 1 غرف نوم, 1...
91079    مساحة الوحدة 38 م2, عوائل و عزاب, 1 غرف نوم, 1...
91080    مساحة الوحدة 100 م2, عوائل و عزاب, 1 غرف نوم, ...
91081    مساحة الوحدة 50 م2, عوائل و عزاب, 1 غرف نوم, 1...
Name: features, Length: 90454, dtype: object

In [11]:
# Remove numbers from features
# So that: Two bedrooms, Three bedrooms -----> all become as bedrooms

df['features'] = df['features'].replace('\d+', '', regex=True)

In [12]:
# After removing the numbers
df['features']

0        مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
1        مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
2        مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
3        مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
4        مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
                               ...
91077    مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
91078    مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
91079    مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
91080    مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
91081    مساحة الوحدة  م, عوائل و عزاب,  غرف نوم,  سرير...
Name: features, Length: 90454, dtype: object

In [13]:
# Delete 'مساحة الوحدة' because we already have a column for the space
df['features'] = df['features'].str.replace(r'مساحة الوحدة  م, ', '')

In [14]:
df['features']

0        عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
1        عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
2        عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
3        عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
4        عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
                               ...
91077    عوائل و عزاب,  غرف نوم,  سرير ماستر, انترنت, ف...
91078    عوائل و عزاب,  غرف نوم,  سرير ماستر, انترنت, ف...
91079    عوائل و عزاب,  غرف نوم,  سرير ماستر, انترنت, ف...
91080    عوائل و عزاب,  غرف نوم,  سرير ماستر, انترنت, ف...
91081    عوائل و عزاب,  غرف نوم,  سرير ماستر, انترنت, ف...
Name: features, Length: 90454, dtype: object

In [15]:
df.shape

(90454, 10)

#### 2. Create a list of all the features without dubilcate

In [16]:
# Work on the features column only to make the list

df_feature = df.iloc[:,2]
df_feature = pd.DataFrame(df_feature)
df_feature.head()

                                            features
0  عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
1  عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
2  عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
3  عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...
4  عوائل و عزاب,  غرف نوم,  سرير ماستر, مسبح خارج...

In [17]:
#Split the features by comma to store it as a list

# Explaination:

# row = bedroom, pool, playing ground ---> all as one value
# After spliting: [bedroom, pool, playing ground] ---> diffirent values in a list for each row

features_split = df_feature["features"].str.split(",")

In [18]:
features_split

0        [عوائل و عزاب,   غرف نوم,   سرير ماستر,  مسبح ...
1        [عوائل و عزاب,   غرف نوم,   سرير ماستر,  مسبح ...
2        [عوائل و عزاب,   غرف نوم,   سرير ماستر,  مسبح ...
3        [عوائل و عزاب,   غرف نوم,   سرير ماستر,  مسبح ...
4        [عوائل و عزاب,   غرف نوم,   سرير ماستر,  مسبح ...
                               ...
91077    [عوائل و عزاب,   غرف نوم,   سرير ماستر,  انترن...
91078    [عوائل و عزاب,   غرف نوم,   سرير ماستر,  انترن...
91079    [عوائل و عزاب,   غرف نوم,   سرير ماستر,  انترن...
91080    [عوائل و عزاب,   غرف نوم,   سرير ماستر,  انترن...
91081    [عوائل و عزاب,   غرف نوم,   سرير ماستر,  انترن...
Name: features, Length: 90454, dtype: object

In [19]:
# Use explode to separate values ---> this is used to store all the features in the list without duplicate
for i in ["features"]:
    split = features_split.explode(i)

In [20]:
# A literal explosion O-O
split

0              عوائل و عزاب
1                   غرف نوم
2                سرير ماستر
3          مسبح خارجي بحاجز
4                   بروجكتر
                ...
758785           سرير ماستر
758786               انترنت
758787                فريزر
758788              تلفزيون
758789            دخول ذاتي
Name: features, Length: 758790, dtype: object

In [21]:
# List with all the unique features

output = []

for x in split:
    if x not in output:
        output.append(x)
print(output)

['عوائل و عزاب', '  غرف نوم', '  سرير ماستر', ' مسبح خارجي بحاجز', ' بروجكتر', ' مسطح اخضر', ' بلكونة', ' تلفزيون', 'عوائل فقط', ' جاكوزي ', ' مسبح خارجي بدون حاجز', ' مسبح بالعاب مائية (مفرغ)', ' ألعاب أطفال', ' العاب رمليه ', ' موقد حطب', '  سرير مفرد', ' ركن شواء ', ' إضاءة إضافية', ' مسبح داخلي بحاجز', ' مسبح داخلي بدون حاجز', ' نطيطه', ' انترنت', ' فريزر', ' مسبح خارجي بحاجز (مفرغ)', ' رذاذ', ' سماعات ', ' مسبح بالعاب مائية', ' مدخل سيارة ', ' صالة طعام', ' غرفة سينما', ' بانيو', ' ستيج مضيئ', ' مسبح داخلي بدون حاجز (مفرغ)', ' مسبح داخلي بحاجز (مفرغ)', ' ملعب كرة قدم', ' مسبح بالعاب مائية بحاجز', ' مسبح خارجي بدون حاجز (مفرغ)', ' ملحق خارجي', ' زحليقه', ' خيمه', ' ملعب كرة طائرة', ' بيت شعر', ' جلسة عريش', ' مكتب امن', ' غرفة تجهيز عروس', ' بلياردو', ' مسبح بالعاب مائية بحاجز (مفرغ)', ' بيت شعر ملكي', ' غرفة سائقين ', ' اطلالة على الحديقة', ' مسبح عام للنساء ', ' دخول ذاتي', ' طاولة تنس', ' برميل مندي', ' كرسي مساج', ' قسمين منفصلة', ' قسمين', ' مسبح عام مشترك', ' قسمين متصلة بينهم باب', ' ساونا', ' ملعب كرة سله', ' مسبح بتدفئة', ' اصنصير  - مصاعد', ' تزلج على الرمل', 'عزاب فقط', ' اطلالة على الجبل', '', ' بلايستيشن', ' شلال على الجبل', ' اطلاله على البحر']

In [22]:
# Number of the unique features 
len(output)

70

#### 3. Encode every feature

In [26]:
# Replace the features column with the list we did for every row
df['features'] = features_split

In [27]:
# The dataframe with the features as a list (for every row)
df.head()

,month_check_in,chalet_title,features,space,normal_price,views_count,lat,lng,booking_count,address
0,8,شالية,"[عوائل و عزاب, غرف نوم, سرير ماستر, مسبح ...",250,890,165160,24.920518,46.807296,6,الرمال
1,8,شالية,"[عوائل و عزاب, غرف نوم, سرير ماستر, مسبح ...",250,890,166069,24.920518,46.807296,7,الرمال
2,8,شالية,"[عوائل و عزاب, غرف نوم, سرير ماستر, مسبح ...",250,1200,167359,24.920518,46.807296,8,الرمال
3,8,شالية,"[عوائل و عزاب, غرف نوم, سرير ماستر, مسبح ...",250,1400,168279,24.920518,46.807296,10,الرمال
4,8,شالية,"[عوائل و عزاب, غرف نوم, سرير ماستر, مسبح ...",250,960,168406,24.920518,46.807296,10,الرمال

In [28]:
# Number of columns before encoding
df.shape

(90454, 10)

In [29]:
# Encode the fetures without dublicate

mlb = MultiLabelBinarizer()
df_mlb = df.join(pd.DataFrame(mlb.fit_transform(df.pop('features')),
                          columns=mlb.classes_,
                          index=df.index))

In [33]:
# Dataframe after encoding
df_mlb.head()

,month_check_in,chalet_title,space,normal_price,views_count,lat,lng,booking_count,address,,...,مكتب امن,ملحق خارجي,ملعب كرة سله,ملعب كرة طائرة,ملعب كرة قدم,موقد حطب,نطيطه,عزاب فقط,عوائل فقط,عوائل و عزاب
0,8,شالية,250,890,165160,24.920518,46.807296,6,الرمال,0,...,0,0,0,0,0,0,0,0,0,1
1,8,شالية,250,890,166069,24.920518,46.807296,7,الرمال,0,...,0,0,0,0,0,0,0,0,0,1
2,8,شالية,250,1200,167359,24.920518,46.807296,8,الرمال,0,...,0,0,0,0,0,0,0,0,0,1
3,8,شالية,250,1400,168279,24.920518,46.807296,10,الرمال,0,...,0,0,0,0,0,0,0,0,0,1
4,8,شالية,250,960,168406,24.920518,46.807296,10,الرمال,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
# Number of columns was ---> 10
# Number of columns now ---> 79
# So the number of the unique features is 69

df_mlb.shape

(90454, 79)

#### 4. Save the preprocessed dataset

In [34]:
df_mlb.to_excel('encoded.xlsx', index=False)

_______________________________________________________________________________________________________
## Transilation and mapping will be done by Excel

##### Some features column might get drop from the excel if it's not helping in the analysis